*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  /*	layout will have six rows: 
			- first row 80 of viewport
			- second row of minimal content height (depends on content)
			- third row of 40% viewport width
			- three rows will have min-content height (repeat function => first attr. stands for how many rows, second height of row)
	*/
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /* 
		creates 11 column layout: 
			- 1 column with 8rem fixed width [sidebar-start][sidebar-end]
			- 1 column (1fr max or 6rem min) which fullfils remaining space [full-start]
			- 8 columns with width setted by minmax function: [col-start] [col-end]
				- minmax sets: 
					- first attribute of minimal width of each column,
					- second attribute of maximal width of each column(14rem)
			- 1 column (1fr max or 6rem min) which fullfils remaining space
	*/
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 4rem;
    font-size: 3rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  background-color: #f9f7f6;
  grid-column: center-start / center-end; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
