// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after { margin: 0; padding: 0; box-sizing: inherit; }

// 10px/16px = 62.5% = 10px=1rem
html { box-sizing: border-box; font-size: 62.5%; }

body { font-family: $font-primary; color: $color-grey-dark-2; font-weight: 300; line-height: 1.6; }

.container { 
	display: grid;

	/*	layout will have six rows: 
			- first row 80 of viewport
			- second row of minimal content height (depends on content)
			- third row of 40% viewport width
			- three rows will have min-content height (repeat function => first attr. stands for how many rows, second height of row)
	*/
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	
	/* 
		creates 9 column layout: 
			- 1 column with 8rem fixed width 
			- 8 columns with width setted by minmax function:
				- minmax sets: 
					- first attribute of minimal width of each column,
					- second attribute of maximal width of each column(14rem)
	*/
	grid-template-columns: 8rem repeat(8, minmax(min-content, 14rem));
}