// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after { margin: 0; padding: 0; box-sizing: inherit; }

// 10px/16px = 62.5% = 10px=1rem
html { box-sizing: border-box; font-size: 62.5%; }

body { font-family: $font-primary; color: $color-grey-dark-2; font-weight: 300; line-height: 1.6; }

.container { 
	display: grid;

	/*	layout will have six rows: 
			- first row 80 of viewport
			- second row of minimal content height (depends on content)
			- third row of 40% viewport width
			- three rows will have min-content height (repeat function => first attr. stands for how many rows, second height of row)
	*/
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	
	/* 
		creates 11 column layout: 
			- 1 column with 8rem fixed width [sidebar-start][sidebar-end]
			- 1 column (1fr max or 6rem min) which fullfils remaining space [full-start]
			- 8 columns with width setted by minmax function: [col-start] [col-end]
				- minmax sets: 
					- first attribute of minimal width of each column,
					- second attribute of maximal width of each column(14rem)
			- 1 column (1fr max or 6rem min) which fullfils remaining space
	*/
	grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

	& > * {
		padding: 4rem;
		font-size: 3rem;
	}
}