.story {

	
	&__pictures { 
		background-color: $color-primary; 
		grid-column: full-start / col-end 4;
		background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)),  url('../img/back.jpg');

		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		align-items: center;
	}

	&__img--1 {
		width: 100%;
		grid-column: 2 / 6;
		grid-row: 2 / 6;
		box-shadow: 0 2rem 5rem rgba(#000, .1);
	}
	&__img--2 {
		width: 115%;
		grid-column: 4 / 7;
		grid-row: 4 / 6;
		z-index: 20;
		box-shadow: 0 2rem 5rem rgba(#000, .1);
	}
	
	&__content { 

		/*
			FLEX SOLUTION
			- we need to use just one direction, not two
			- in this case its better to use display flex than display grid 
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			- fix for stretched btn to 100% width of flex container
			align-items: flex-start;
			
		*/
		
		/*
			GRID SOLUTION
		*/

		display: grid;

		// aligns content to the center vertically
		align-content: center;

		/*
			horizontally aligning of items:
				- like flex-direction: row;
				- justify-content: flex-start;
		*/
		justify-items: start;

		background-color: $color-grey-light-1; 
		grid-column: col-start 5 / full-end;
		padding: 6rem 8vw;
	}

	&__text {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 4rem;
	}
}